server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO

resilience4j:
  circuitbreaker:
    instances:
      externalApi:
        slidingWindowSize: 50
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
